body {
  background: #434440;
  padding: 15px;

  display: flex;
}

#tool {
  margin-left: 10px;
}

.tool-container {
  font-size: 20px;
  color: #fff;
}

.tool-container .header {
  margin-bottom: 15px;
}

.tool-container .body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.tool-container .footer {
  margin-top: 15px;
}

.tool-container select {
  font-size: 20px;
  width: 60px;
}

.tool-container button {
  font-size: 20px;
}

.brick-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  gap: 10px;
}

.brick-item {
  width: 30px;
  border-radius: 5px;
  height: 30px;
  background: rgb(121, 119, 119);
  cursor: pointer;

  box-sizing: border-box;
}

.brick-item:hover {
  border: 1px solid #f2f2f2;
}
